<div class="header">
  <ul class="navigation-bar">
    <li *ngFor="let nav of navItems"
        (click)="goToPage(nav.url,nav.name)"
        [class.active]="activeNavItem===nav.name">
      {{nav.name}}
    </li>
  </ul>
  <nz-avatar
    nz-popover
    [nzContent]="nzTemplate"
    [nzTrigger]="'click'"
    [nzPlacement]="'bottom'"
    [nzIcon]="'anticon anticon-user'"
    class="avatar">
  </nz-avatar>
  <ng-template #nzTemplate>
    <div class="list">
      <p (click)="goToUserCenter()">个人中心</p>
      <p (click)="signOut()">退出</p>
    </div>
  </ng-template>

</div>
