:host ::ng-deep .ng-tns-c5-0 {
  display: flex;
}

.header {
  align-items: center;
  background: #f4f7ed;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  position: relative;
}

.navigation-bar {
  padding-left: 0;
  li {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
  }
  .active {
    color: #555555;
  }
}

.list {
  & > p {
    cursor: pointer;
    padding: 5px;
    width: 80px;
    text-align: center;
    &:hover {
      background-color: #dcdbdb36;
    }
  }
}

.avatar {
  background-color: #87d068;
  position: absolute;
  right: 0;
}
