<div class="header">
  <ul class="navigation-bar">
    <li *ngFor="let nav of navItems"
        (click)="goToPage(nav.url,nav.name)"
        [class.active]="activeNavItem===nav.name">
      {{nav.name}}
    </li>
  </ul>

  <nz-popover [nzTrigger]="'click'" [nzPlacement]="'bottom'">
    <!--<button nz-button nz-popover>点击</button>-->
    <nz-avatar nz-popover nzIcon="user" style="background-color: #87d068;"></nz-avatar>
    <ng-template #nzTemplate>
      <div class="list">
        <p (click)="signOut()">退出</p>
      </div>
    </ng-template>
  </nz-popover>
</div>
