<div class="content">
  <div class="list">
    <div class="list-title">
      <p>{{listName}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
  </div>
  <div class="list">
    <div class="list-title">
      <p>{{listName}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
  </div>
  <div class="list">
    <div class="list-title">
      <p>{{listName}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
  </div>
  <div class="list">
    <div class="list-title">
      <p>{{listName}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
  </div>
  <div class="list">
    <div class="list-title">
      <p>{{listName}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card">
      <app-project-card [title]="title" [time]="time" [listName]="listName"></app-project-card>
    </div>
  </div>
</div>
