<div class="content">
  <div class="list" *ngFor="let project of projectDetail?.project_list">
    <div class="list-title">
      <p>{{project.list_name}}</p>
      <div>
        <p>
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card" *ngFor="let item of project.list_items">
      <app-project-card
        (click)="goToPage(item._id)"
        [cardId]="item._id"
        [title]="item.title"
        [time]="item.deadline"
        [listName]="item.member"
        [_checked]="item.status">
      </app-project-card>
    </div>
  </div>
</div>
