<div class="content">
  <div class="list" *ngFor="let project of projectDetail?.project_list">
    <div class="list-title">
      <p>{{project.list_name}}</p>
      <div>
        <p (click)="showModal(project.project_list_id)">
          <i class="anticon anticon-plus"></i>任务
        </p>
        <p>
          <i class="anticon anticon-bars"></i>
        </p>
      </div>
    </div>
    <div class="list-card" *ngFor="let item of project.project_list_item">
      <app-project-card
        (click)="goToPage(item.list_item_id)"
        [cardId]="item.list_item_id"
        [title]="item.title"
        [time]="item.deadline"
        [listName]="item.username"
        [_checked]="item.status">
      </app-project-card>
    </div>
  </div>
  <div class="add-list">
    <p><i class="anticon anticon-plus"></i>添加新的清单</p>
  </div>
  <nz-modal [(nzVisible)]="isVisible"
            nzTitle="新建任务"
            [nzContent]="modalContent"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()"
            [nzConfirmLoading]="isOkLoading">
    <ng-template #modalContent>
      <nz-input [(ngModel)]="postData.title" [nzPlaceHolder]="'任务描述'"></nz-input>
    </ng-template>
  </nz-modal>
</div>
